@import './../../assets/scss/variables.scss';

body {
    font-family: $font-family;
    color: $text-color-body;
}

//align text vertically
.vertical-align {
    display: flex;
    align-items: center;
}

.placeholder {
    background-color: $text-color-gray;
    border: 1px solid $color-border
}
