@import './../../assets/scss/variables.scss';
html,
body {
 
}

body {
    font-family: $font-family;
    color: #4F4F4F;
}

//align text vertically
.vertical-align {
    display: flex;
    align-items: center;
}

.placeholder {
    background-color: $color-gray;
    border: 1px solid $color-border
}
