//**SHARED**

//font
$font-family: 'Montserrat';
$font-family-menu: 'Questrial';
$font-family-header: 'Josefin Sans';

//text-color
$text-color-body: #4F4F4F;
$text-color-white2: #f1f1f1;
$text-color-white:#fff;
$text-color-gray:#585e71;

//border-color
$color-border:#f2f2f2;

//navbar
$navbar-link-hover:#f4a482;

//footer
$footer-color: #FAFAFA;
$footer-text: #282828;
$footer-color-content:#282828;

//media queries
$desktop: 960px;
$tablet: 768px;
$mobile-large: 640px;
$mobile: 480px;
$mobile-small: 300px;
