//**SHARED**

//font
$font-family: 'Montserrat';
$font-family-menu: 'Questrial';
$font-family-header: 'Josefin Sans';

//color
$color-white2: #f1f1f1;
$color-white:#fff;
$color-gray:#585e71;
$color-border:#f2f2f2;

//navbar
$navbar-link-hover:#f4a482;

//footer
$footer-color: #FAFAFA;
$footer-text: #282828;
$footer-color-content:#282828;

$primary:#6C6C6C;
