<main class="main-content">
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4 jumbotron-text1">We find the right home for you.</h1>
            <p class="lead jumbotron-text2">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
        </div>
    </div>

    <div class="container">
        <!-- trust -->
        <div class="row">
            <div class="col-md-6">
                <div class="badge-wrapper text-center">
                    <i class="fas fa-award fa-3x icon-trust"></i>
                    <p class="icon-heading">marketplace guarantee</p>
                    <p class="text-justify text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                        eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                        nostrud exercitation ullamco laboris nisi ut aliquip. </p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="badge-wrapper text-center">
                    <i class="fas fa-handshake fa-3x icon-trust"></i>
                    <p class="icon-heading">professional service</p>
                    <p class="text-justify text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                        eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                        nostrud exercitation. </p>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <!-- latest properties -->
        <div class="heading text-center">featured <span class="font-weight-light">properties</span></div>
        <div class="row">
            <div class="col-md-8 col-sm-12 mx-auto">
                <div class="featured-properties-image-wrapper">
                    <img src="./../../../assets/images/features/vive_pic.PNG" alt="venessa heights"
                        class="featured-properties-image">
                </div>
            </div>
            <div class="w-100"></div>
            <div class="col-md-8 col-sm-12 mx-auto">
                <div class="featured-properties-image-wrapper">
                    <img src="./../../../assets/images/features/venessa_pic.PNG" alt="venessa heights"
                        class="featured-properties-image">
                </div>
            </div>
            <div class="w-100"></div>
            <div class="col-md-8 col-sm-12 mx-auto">
                <div class="featured-properties-image-wrapper">
                    <img src="./../../../assets/images/features/lavista_pic.PNG" alt="venessa heights"
                        class="featured-properties-image">
                </div>
            </div>
        </div>
    </div>


</main>