<main class="main-content">
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">We find the right home for you.</h1>
            <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
        </div>
    </div>

    <!-- <carousel class="slideshow" [interval]="20000">
        <slide>
                <img src="./../../../assets/images/bedroom.jpg" alt="first slide" style="display: block; width: 100%;">

            <div class="carousel-caption d-none d-md-block">
                <h3>We find the right home for you.</h3>
                <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
            </div>
        </slide>
        <slide>
            <img src="https://images.unsplash.com/photo-1489171078254-c3365d6e359f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1189&q=80"
                alt="second slide" style="display: block; width: 100%;">
            <div class="carousel-caption d-none d-md-block">
                <h3>Second slide label</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
        </slide>
        <slide>
            <img src="https://images.unsplash.com/photo-1501876725168-00c445821c9e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80"
                alt="third slide" style="display: block; width: 100%;">
            <div class="carousel-caption d-none d-md-block">
                <h3>Third slide label</h3>
                <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
            </div>
        </slide>
    </carousel> -->

    <div class="container">
        <!-- trust -->
        <div class="row">
            <div class="col-md-6">
                <div class="badge-wrapper text-center">
                    <i class="fas fa-award fa-3x icon-trust"></i>
                    <p class="icon-heading">marketplace guarantee</p>
                    <p class="text-justify text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                        eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                        nostrud exercitation ullamco laboris nisi ut aliquip. </p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="badge-wrapper text-center">
                    <i class="fas fa-handshake fa-3x icon-trust"></i>
                    <p class="icon-heading">professional service</p>
                    <p class="text-justify text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                        eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                        nostrud exercitation. </p>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <!-- latest properties -->
        <div class="heading text-center">featured <span class="font-weight-light">properties</span></div>
        <div class="row">
            <div class="col-md-8 col-sm-12 mx-auto">
                <div class="featured-properties-image-wrapper">
                    <img src="./../../../assets/images/features/vive_pic.PNG" alt="venessa heights"
                        class="featured-properties-image">
                </div>
            </div>
            <div class="w-100"></div>
            <div class="col-md-8 col-sm-12 mx-auto">
                <div class="featured-properties-image-wrapper">
                    <img src="./../../../assets/images/features/venessa_pic.PNG" alt="venessa heights"
                        class="featured-properties-image">
                </div>
            </div>
            <div class="w-100"></div>
            <div class="col-md-8 col-sm-12 mx-auto">
                <div class="featured-properties-image-wrapper">
                    <img src="./../../../assets/images/features/lavista_pic.PNG" alt="venessa heights"
                        class="featured-properties-image">
                </div>
            </div>
        </div>
    </div>


</main>