<div class="footer-wrapper vertical-align">
  <div class="row">
    <div class="col-sm-4 more-company">
      <p class="footer-heading">more about the team</p>
      <p class="content">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
        labore et dolore magna aliqua. Ut enim ad minim veniam, </p>
      <p class="author pull-right">- lani ubaldo </p>
    </div>

    <div class="col-sm-4 social-media">
      <p class="footer-heading">keep connected</p>
      <table class="social-media-table">
        <tr>
          <td><i class="fab fa-facebook-square fa-2x"></i></td>
          <td>like us on facebook</td>
        </tr>
        <tr>
          <td><i class="fab fa-twitter-square fa-2x"></i></td>
          <td>follow us on twitter</td>
        </tr>
        <tr>
          <td><i class="fab fa-linkedin fa-2x"></i></td>
          <td>add us on linkedin</td>
        </tr>
      </table>

    </div>

    <div class="col-sm-4 contact">
      <p class="footer-heading">contact information</p>

      <table class="contact-info-list">
        <tr>
          <td><i class="fas fa-map-marker-alt icon"></i></td>
          <td>unit 803, Antel 2000 Corporate Center, 121 Valero st, Salcedo Village, Makati City</td>
        </tr>
        <tr>
          <td><i class="fas fa-mobile-alt icon"></i></td>
          <td>+639564471536</td>
        </tr>
        <tr>
          <td><i class="far fa-envelope icon"></i></td>
          <td>teamlani@kmvasia.com</td>
        </tr>
      </table>
    </div>
  </div>
</div>

<div class="">
    <div class="col-sm-12 copyright vertical-align">
      <span> © Copyright 2019 Team Lani Properties. All rights reserved. | Design by </span> <span class="developer"> Nikolo
          Matutina</span>
    </div>
  </div>

<!--  -->